.container-fluid {
  background-color: #fffaf5;
}

.container-fluid {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
 
.scrollable {
  height: 600px;
  overflow: scroll;
}
 
#calendar-wrapper,
#new-event-wrapper,
#new-task-wrapper,
#schedule-result-wrapper {
  padding: 2%;
}
 
#nav-bar {
  background-color: #dae8fe;
  width: 100%;
}

.btn-primary {
  margin-top: 2px;
}
.card {
  margin-bottom: 15px; 
}
 
#calendar-view {
  min-height: 800px;
  width: 100%;
}

.navbar-item {
  margin: 3%;
}
 
#calendar-view {
  min-height: 800px;
  width: 100%;
}
 
.navbar-item {
  margin: 3%;
}
